<!DOCTYPE html>
{% load static %}


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>Admin Interface</title>
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <script src="{% static 'js/admin.js' %}" defer></script>


    <style>
        /* styles.css */

        body {
            margin: 0;
            padding: 0;
        }

        .footer {
            background: #505050 url('https://www.ictmumbai.edu.in/img/footer-bg.png');
            background-size: cover;
            padding: 20px;
        }

        .footer-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
        }

        .left img {
            max-width: 100%;
            height: auto;
        }

        .right {
            text-align: center;
            margin-top: 20px;
        }

        .contact-us {
            text-align: center;
            margin-bottom: 20px;
            margin-left: 50px;
        }

        .small-image img {
            max-width: 100%;
            height: auto;
            width: 100px;
            padding-bottom: 32px;
        }
        footer h3,
        footer p {
            line-height: 1.5;
            color: white;
        }



        .lower-footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 2px 0;
            position: relative;
        }


        @media screen and (max-width: 767px) {
            .footer {
                padding-bottom: 60px;
                /* Create space for the lower footer */
            }

            .lower-footer {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 10px 0;
            }
        }


        @media screen and (min-width: 768px) {
            .footer-content {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            .left {
                flex: 1;
                margin-right: 20px;
            }

            .contact-us {
                flex: 1;
                text-align: left;
                margin-top: 0;
            }
        }
    </style>




    {% comment %} /* ADMIN SEARC BAR {% endcomment %}
    <style>
        .search-container {
            margin-top: 20px;
            text-align: right;
        }

        .search-container input[type=text] {
            padding: 10px;
            margin-right: 5px;
            border: none;
            border-bottom: 1px solid #ccc;
            font-size: 16px;
        }

        .search-container button {
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }

        .search-container button:hover {
            background-color: #0056b3;
        }
    </style>






</head>

<body>
    {% if messages %}
    {% for message in messages %}
    <div class="container alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}


    <div class="sidebar" id="sidebar">
        <!-- ... Sidebar Links ... -->
        <ul>
            <li><a href="#dashboard">Dashboard</a></li>
            <li><a href="#job-listing">Job Listing</a></li>
            <li><a href="#users">Intrested student</a></li>
            <li><a href="#analytics">Update Status </a></li>
            <li><a href="{% url 'logout' %} " id="logout">LogOut</a></li>
        </ul>

    </div>
    <div class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="content">
        <div id="dashboard" class="section active">



            <!-- ADD JOB Modal -->

            <div class="modal" id="addJobModal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Add New Job</h3>
                        <span class="close-modal" id="closeModal">&times;</span>
                    </div>

                    <form method="POST" action="{% url 'addjob' %}" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="form-group">
                            <label for="jobTitle" class="form-label">Job Title</label>
                            <input type="text" id="jobTitle" name="j_title" class="form-input" required>
                        </div>

                        <div class="form-group">
                            <label for="jobCategory" class="form-label">Company Name</label>
                            <input type="text" id="jobCategory" name="c_name" class="form-input" required>
                        </div>

                        <div class="form-group">
                            <label for="jobLocation" class="form-label">Job Location</label>
                            <input type="text" id="jobLocation" name="j_location" class="form-input" required>
                        </div>

                        <div class="form-group">
                            <label for="jobDescription" class="form-label">Job Description</label>
                            <textarea id="jobDescription" name="j_description" class="form-input" rows="4"
                                required></textarea>
                        </div>

                        <div class="form-group">
                            <label for="jobDescription" class="form-label">Requirments</label>
                            <textarea id="jobDescription" name="requirments" class="form-input" rows="4"
                                required></textarea>
                        </div>

                        <div class="form-group">
                            <label for="salaryRange" class="form-label">Salary Range (min - max)</label>
                            <input type="text" id="salaryRange" name="salary_range" class="form-input" required>
                        </div>

                        <div class="form-group">
                            <label for="pdfFile" class="form-label">Upload PDF File</label>
                            <input type="file" id="pdf_File" name="pdf_file" class="form-input" accept=".pdf">
                        </div>

                        <button type="submit" class="form-button">Submit</button>
                    </form>
                </div>
            </div>
            <!-- modal end  -->


            <div class="card-container">
                <div class="card blue" style="margin: 1rem;">
                    <h3>Total Jobs</h3>
                    <p>{{job_posting.count}}</p>
                </div>
                <div class="card green" style="margin: 1rem;">
                    <h3>New Jobs</h3>
                    <p>{{new_jobs_count}}</p>
                </div>
                <div class="card orange" style="margin: 1rem;">
                    <h3>Users Online</h3>
                    <p>124</p>
                </div>
                <div class="card red" style="margin: 1rem;">
                    <h3>Interested</h3>
                    <p>40</p>
                </div>
            </div>

            <!-- button -->
            <button type="button" class="btn btn-info my-2" id="addJobButton" style="float: right;">Add Jobs</button>
            <h2>Job Listings</h2>

            {% comment %} table start from here {% endcomment %}

            <table class="table">
                <thead>
                    <tr>
                        <th>Job Title</th>
                        <th>Company Name</th>
                        <th>Job Location</th>
                        <th>salary_range</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                <div>
                    <tbody>
                        {% for jp in job_posting %}
                        <tr>
                            <td>{{jp.job_title}}</td>
                            <td>{{jp.company_name}}</td>
                            <td>{{jp.location}}</td>
                            <td>{{jp.salary_range}}</td>
                            <td id="statusCell_{{ jp.id }}">{{ jp.get_hiring_status_display }}</td>
                            <td>
                                <button type="button" class="btn btn-info " id="updateJobButton{{ jp.id }}"
                                    onclick="showUpdateModal({{ jp.id }})">Update</button>
                            </td>


                            {% comment %} update modal here {% endcomment %}

                            <div class="modal" id="updateJobModal{{ jp.id }}">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title">Update Job</h3>
                                        <span class="close-modal" onclick="closeUpdateModal({{ jp.id }})">&times;</span>
                                    </div>

                                    <form method="POST" action="{% url 'update_job' jp.id %}"> {% csrf_token %}
                                        <div class="form-group">
                                            <label for="updateJobTitle" class="form-label">Job Title</label>
                                            <input type="text" id="updateJobTitle" name="job_title" class="form-input"
                                                value="{{ jp.job_title }}" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="updateCompanyName" class="form-label">Company Name</label>
                                            <input type="text" id="updateCompanyName" name="company_name"
                                                class="form-input" value="{{ jp.company_name }}" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="updateJobLocation" class="form-label">Job Location</label>
                                            <input type="text" id="updateJobLocation" name="location" class="form-input"
                                                value="{{ jp.location }}" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="updateJobRequirements" class="form-label">Salary Range</label>
                                            <input type="text" id="salary_range" name="salary_range" class="form-input"
                                                value="{{ jp.salary_range }}" required>
                                        </div>


                                        <div class="form-group">
                                            <label for="updateJobRequirements" class="form-label">JD File</label>
                                            <input type="file" id="pdf_file" name="pdf_file" class="form-input"
                                                value="{{ jp.job_pdfs }}">
                                        </div>




                            
                                       
                                        <div class="form-group">
                                            <label class="form-label">Hiring Status</label>
                                            {% for choice in jp.HIRING_STATUS_CHOICES %}
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input"
                                                    id="updateHiringStatus{{ choice.0|title }}" name="hiring_status"
                                                    value="{{ choice.0 }}"
                                                    {% if jp.hiring_status == choice.0 %}checked{% endif %}>
                                                <label class="form-check-label"
                                                    for="updateHiringStatus{{ choice.0|title }}">{{ choice.1 }}</label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        

                                        {% comment %} update modal end here {% endcomment %}

                                        <button type="submit" class="form-button">Save and Submit</button>
                                    </form>
                                </div>
                            </div>


                            <td>

                                <a href="{% url 'delete_job' jp.id %}" class="btn btn-danger "
                                    onclick="return confirm('Are you sure you want to delete this job posting?')">Delete</a>
                            </td>
                        </tr>
                        <!-- Add more table rows here -->
                    </tbody>

                </div>
                {% endfor %}
            </table>
            {% comment %} JOB Positing Pagination {% endcomment %}
            <div class="pagination">
                <span class="step-links">
                    {% if job_posting.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ job_posting.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ job_posting.number }} of {{ job_posting.paginator.num_pages }}.
                    </span>

                    {% if job_posting.has_next %}
                    <a href="?page={{ job_posting.next_page_number }}">Next</a>
                    <a href="?page={{ job_posting.paginator.num_pages }}">Page &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>


        <!-- job listing accordion yaha hai -->


        <div id="job-listing" class="section mt-3">
            {% comment %} <div class="input-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here..." />
                <button class="button" onclick="searchTable()">Search</button>
            </div> {% endcomment %}

            {% comment %} {% if job_posting %} {% endcomment %}

            {% for data in context %}
            <div class="accordion mt-3" id="accordionExample-{{ data.jdata.id }}">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne-{{ data.jdata.id }}" aria-expanded="true"
                            aria-controls="collapseOne-{{ data.jdata.id }}">
                            {{data.jdata.company_name}}
                        </button>
                    </h2>

                    <div id="collapseOne-{{ data.jdata.id }}" class="accordion-collapse collapse"
                        data-bs-parent="#accordionExample-{{ data.jdata.id }}">
                        <div class="accordion-body">
                            <div class="container-xl">
                                <div class="table-responsive">
                                    <div class="table-wrapper">
                                        <div class="table-title">
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <h2>Intrested <b>student</b></h2>
                                                </div>
                                                <div class="col-sm-4">

                                                    <div class="search-wrapper">
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control searchInput"
                                                                placeholder="Search..."
                                                                data-accordion-id="{{ data.jdata.id }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                      <table class="table table-striped table-hover table-bordered" id="dataTable">
                                            <thead>
                                                <tr>
                                                    <th>Sr.No</th>
                                                    <th>Name <i class="fa fa-sort"></i></th>
                                                    <th>Email</th>
                                                    <th>Number</th>
                                                    <th>College ID</th>
                                                    <th>Address</th>
                                                    <th>Resume</th>
                                                    <th>Actions</th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                {% for student in data.sdata%}
                                                <tr>
                                                    <td>{{forloop.counter}}</td>
                                                    <td>{{student.user.personalinfo.first_name }} {{ student.user.personalinfo.last_name }}</td>
                                                    <td>{{ user.email}}</td>
                                                    <td>{{ student.user.personalinfo.phone_number}}</td>
                                                    <td>{{ student.user.personalinfo.student_college_id}}</td>
                                                    <td>{{student.user.personalinfo.address}}</td>
                                                    <td>
                                                        {% if student.user.resume.resume_file %}
                                                        <a>
                                                            {{student.user.personalinfo.first_name }} {{student.user.personalinfo.last_name }}
                                                        </a>
                                                        {% else %}
                                                        Resume Not Available
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a href="{% if student.user.resume.resume_file %}{{ student.user.resume.resume_file.url }}{% endif %}"
                                                        {% if not student.user.resume.resume_file %}class="disabled"
                                                        {% endif %} download title="Download Resume" data-toggle="tooltip">
                                                        <i class="material-icons">cloud_download</i>
                                                    </a>
                                                    <a href="{% if student.user.resume.resume_file %}{{ student.user.resume.resume_file.url }}{% endif %}"
                                                    {% if not student.user.resume.resume_file %}class="disabled"
                                                    {% endif %} title="View Resume" data-toggle="tooltip">
                                                    <i class="material-icons">visibility</i>
                                                </a>
                                                <form id="selected" method="post" action="{% url 'save_selected_students' %}">{% csrf_token %}
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" name="job_students" type="hidden" value="{{ data.jdata.id }}">
                                                        <input class="form-check-input" name="selected_students" type="checkbox" id="customSwitch" value="{{ student.user.id }}" {% if student.selected %}checked{% endif %} onchange="selectStudent(this);">
                                                        <label class="form-check-label" for="customSwitch">Selected</label>
                                                    </div>

                                                </form>
                                            </td>

                                                </tr>

                                                {% endfor %}


                                            </tbody>
                                        </table>
                                        <a href="{% url 'export_excels' data.jdata.id %}" class="btn btn-primary">Export to Excel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>


            <div id="users" class="section">
                <h2>Users</h2>
                <p>Manage user accounts and permissions.</p>
            </div>

            <div id="analytics" class="section">
                <h2>Update Status</h2>
                <p>View and analyze data and insights.</p>
            </div>


        </div>




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>




        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        {% comment %} ********** ADMIN SREACH JS ************** {% endcomment %}

        <script>
            $(document).ready(function () {
                // Event listener for input field changes
                $('.searchInput').on('input', function () {
                    var searchText = $(this).val().toLowerCase();
                    var accordionId = $(this).data('accordion-id');
                    var $tableBody = $('#dataTable-' + accordionId + ' tbody');

                    // Iterate through each table row
                    $tableBody.find('tr').each(function () {
                        var $row = $(this);

                        // Combine the text of Name, Email, and Number columns
                        var rowData = $row.find('td:nth-child(2), td:nth-child(3), td:nth-child(4)').text().toLowerCase();

                        // Check if the row contains the search text
                        if (rowData.indexOf(searchText) === -1) {
                            $row.hide(); // Hide the row if it doesn't match
                        } else {
                            $row.show(); // Show the row if it matches
                        }
                    });
                });
            });
        </script>

        {% comment %} **************POP UP MESSAGE**************{% endcomment %}

        <script>
            function selectStudent(checkbox) {
                if (checkbox.checked) {
                    // Show a pop-up message when the checkbox is checked
                    window.alert('Student successfully selected');
                }
            }
            </script>

</body>

</html>