{% extends 'base.html' %}
{% load static %}
{% block title %}LogIn{% endblock  %}
{% load static %}
  
{% block body  %}
    <div class="wrapper">
        <div class="logo">
            <img src="{% static 'images/ict3.jpeg' %}" alt=""> 
            
            </div>
        <form method="post" >
            {% csrf_token %}
            <div class="text-center  name">LogIn </div>
            <div class="p-10 m-10">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="username" id="username" placeholder="Username">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Password">
            </div>
            <button class="btn mt-3">Login</button>
        </form>
    </div>
        <div class="text-center fs-6">
            <a href="{% url 'signup' %}" >Create a account</a>
        </div>
    </div>
{% endblock %}






{% comment %} Roughly work {% endcomment %}

<div class="tile" id="tile-1">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <div class="slider"></div>
       <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fas fa-id-card"></i> Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><i class="fas fa-map-signs"></i> Contact</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" id="setting-tab" data-toggle="tab" href="#setting" role="tab" aria-controls="setting" aria-selected="false"><i class="fas fa-cogs"></i> Settings</a>
        </li>
    </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Home</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Profile</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Contact</div>
    <div class="tab-pane fade" id="setting" role="tabpanel" aria-labelledby="setting-tab">Settings</div>
    </div>
  
  </div>