{% extends 'user_templates/base.html' %}
{% load static %}
{% block title %}Home{% endblock  %}

{% block body %}

<!--  Profile Card  -->
<div class="card shadow bg-white rounded" style="width: 15rem;">
    {% if profile_image %}
    {% for pi in profile_image %}
    <img id="images" src="media/{{pi.profile_picture}}" class="card-img-top" alt="...">
    {% endfor %}
    {% else %}
    <img id="images" src="{% static 'images/ict.jpeg' %}" class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{user.username}}</h5>
        {% if check_additional %}
        {% for skill in check_additional %}
        <p class="card-text">{{skill.skill_name}}</p>
        {% endfor %}
        {% endif %}
        <a href="{% url 'viewprofile' %}" class="btn btn-outline-primary btn-sm"><i class="fa-regular fa-eye mx-1"></i>ViewProfile</a>
    </div>
</div>


<!-- Search Bar Section -->
<div class="row justify-content-end mx-1">
    <div class="col-xl-10">
        <div class="container mt-3 p-4 border rounded shadow">
            <form>
                <div class="d-flex align-items-end">
                    <div class="col-5">
                        <div class="form-outline">
                            <input type="text" name="company-name" placeholder="Enter keyword / Designation / Companies"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="col-5 mx-2">
                        <div class="form-outline">
                            <select name="employment-type" class="form-select" aria-label="Default select example">
                                <option selected>Select location</option>
                                {% for location in show_job %}
                                <option value="{{location.location}}">{{location.location}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-primary btn-md mx-2">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- latest jobs-->
<div class="row justify-content-end mx-1">
    <div class="col-xl-10">
        <h1 class="text-center my-2">Latest Jobs</h1>
        <div class="container mt-3 p-3 border rounded overflow-auto shadow" style="height: 450px;">
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    {% for show_jobs in show_job %}
                    <div class="job-item p-4 mb-4 border rounded">
                        <div class="row g-4">
                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-1.jpg" alt=""
                                     style="width: 80px; height: 80px;">
                                <div class="text-start ps-4">
                                    <a href="job-description/{{show_jobs.id}}" class="description"><h5
                                            class="view-description" class="mb-3">{{show_jobs.job_title}}</h5></a>
                                    <span class="text-truncate me-3"><i
                                            class="fa fa-map-marker-alt text-primary me-2"></i>{{show_jobs.location}}</span>
                                    <span class="text-truncate me-3"><i
                                            class="fa-regular fa-building text-primary me-2"></i>{{show_jobs.company_name}}</span>
                                    <span class="text-truncate me-0"><i
                                            class="far fa-money-bill-alt text-primary me-2"></i>{{show_jobs.salary_range}}</span>
                                    <span class="text-truncate me-0"><i class="fa fa-bullhorn text-primary mx-3 me-2"
                                                                        aria-hidden="true"></i>{{show_jobs.hiring_status}}</span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                <div class="d-flex mb-3">
                                    {% if user.is_authenticated %}
                                    {% if show_jobs.id in applied_jobs_ids %}
                                    <span class="btn btn-success disabled"><i
                                            class="fa-solid fa-check"></i>Applied</span>
                                    {% else %}
                                    <a class="btn btn-success" href="{% url 'interest' show_jobs.id %}">Interest</a>
                                    {% endif %}
                                    {% else %}
                                    <a class="btn btn-success" href="{% url 'login' %}">Log in to Apply</a>
                                    {% endif %}
                                </div>
                                {% load humanize %}
                                <small class="text-truncate"><i class="fa-regular fa-clock text-primary me-2"></i>{{show_jobs.created_at|naturaltime}}</small>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script>
{% for flash in messages %}
    alertify.set('notifier','position', 'top-right');
    alertify.success('{{flash}}');
{% endfor %}
</script>

{% endblock %}
