
{% extends 'user_templates/base.html' %}

{% block body %}

<h1>Your Status</h1>
{% if request.user.is_authenticated %}
    {% if selected_student %}
        <p>You are selected for the following company:</p>
        <ul>
            <li>You are selected for {{ selected_student.company_name.company_name }}</li>
        </ul>
    {% else %}
        <p>You are not selected for any company.</p>
    {% endif %}

    {% comment %} ********************* intrest show here  ******************************* {% endcomment %}
    <h2>Your Interests</h2>
    <p>Number of Companies Interested: {{ interests|length }}</p>
    <ul>
        {% for interest in interests %}
            <li>
                <strong>Company Name:</strong> {{ interest.job_posting.company_name }}<br>
                
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You are not logged in.</p>
{% endif %}

{% endblock %}
