<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Status Page</title>
</head>
<body>
    <h1>Your Status</h1>
    {% if request.user.is_authenticated %}
        {% if request.user.SelectedStudent_set.all %}
            <p>You are selected for the following company:</p>
            <ul>
                {% for student in selected_students %}
                <li>You are selected for {{ student.company_name.company_name }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>You are not selected for any company.</p>
        {% endif %}
    {% else %}
        <p>You are not logged in.</p>
    {% endif %}




    <h1>Student Interest Status</h1>
    <p>Number of Companies Interested: {{ numCompanies }}</p>
    <ul>
        {% for interest in interests %}
            <li>
                <strong>Company Name:</strong> {{ interest.companyName }}<br>
                <strong>Status:</strong> {{ interest.status }}
            </li>
        {% endfor %}
    </ul>

    
</body>
</html>
