{% extends 'user_templates/base.html' %}
{% load static %}
{% block title %}ViewProfile{% endblock  %}

{% block body %}

<!--  personal-info section -->
<div class="container border rounded my-3 p-3 " style="width: 75rem;">
    <div class="row">
        {% if personal_infos %}
        {% for profile_image in personal_infos %}
        {% if profile_image.profile_picture %}
        <div class="col col-lg-2 gx-0 mx-2 d-flex justify-content-center align-items-center">
            <img id="images" src="media/{{profile_image.profile_picture}}"
                 class="img-fluid  mx-4">
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <div class="col col-lg-2 gx-0 mx-2 d-flex justify-content-center align-items-center">
            <img id="images" src="{% static 'images/ict.jpeg' %}"
                 class="img-fluid  mx-4">
        </div>
        {% endif %}
        <div class="col-md-9 mx-3">
            <div class="d-flex align-items-center">
                <h2 class="me-3">Personal-Information</h2>
                <button class="btn btn-outline-primary rounded-circle" data-bs-toggle="modal"
                        data-bs-target="#personalModal">
                    <i class="fa-solid fa-pencil"></i>
                </button>
            </div>
            <hr>
            {% for personal_info in personal_infos %}
            <div class="my-3 d-flex justify-content-start flex-wrap">
                <div class="col-md-4">
                    <p>{{ personal_info.first_name }}-{{ personal_info.last_name }}
                        <a data-bs-toggle="modal" data-bs-target="#update-personalModal">
                            <i class="fa-regular fa-pen-to-square fa-beat" style="color: #000000;"></i>
                        </a>
                    </p>
                    {% if personal_info.middle_name %}
                    <p>{{ personal_info.middle_name }}</p>
                    {% else %}
                    {% endif %}
                    <p>{{ personal_info.date_of_birth }}</p>
                    <p>{{ personal_info.student_college_id }}</p>
                </div>
                <div class="col-md-4">
                    <p>{{ personal_info.phone_number }}</p>
                    <p>{{ personal_info.zip_code }}</p>
                </div>
                <div class="col-md-4">
                    <p style="word-wrap: break-word; overflow-wrap: break-word;">
                        {{ personal_info.objectives }}
                    </p>
                    <p style="word-wrap: break-word; overflow-wrap: break-word;">
                        {{ personal_info.address }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- resume upload section -->
<div class="container border rounded my-3 p-3 " style="width: 75rem;">
    <div class="row">
        <div class="col-md-5 mx-3">
            <div class="d-flex align-items-center">
                <h2 class="me-3">Resume</h2>
            </div>
        </div>
        <hr>
        <div class="container col-md-10">
            {% for cv in cvs %}
            {% if cv %}
            <div class="d-flex justify-content-center align-items-center">
                {{cv.resume_file}}
                <a href="{% url 'download-resume' cv.user_id %}">
                    <button class="btn btn-outline-info rounded-circle mx-2"><i
                            class="fa-solid fa-download fa-bounce"></i>
                    </button>
                </a>
                <a href="delete-resume/{{cv.user_id}}">
                    <button type="submit" class="btn btn-outline-danger rounded-circle mx-2"><i
                            class="fa-regular fa-trash-can fa-bounce"></i>
                    </button>
                </a>
            </div>
            {% else %}
            <p class="text-center">Resume is the most important document recruiters look for. Recruiters generally do
                not look at profiles without resumes.</p>
            {% endif %}
            {% endfor %}
        </div>
        <div class="container my-3 p-2">
            <div class="" style="border:dotted 2px; border-radius:20px;">
                <form class="p-4" action="upload-resume" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    <input class="form-control" accept=".pdf,.doc,.docx" name="cv" type="file" required>
                    <div class="d-flex my-2 justify-content-center">
                        Supported Formats: doc, docx, pdf
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-outline-primary btn-sm" type="submit"><i
                                class="fa-solid fa-upload fa-beat mx-2"></i>Upload
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Experience Section-->
<div class="container border rounded my-3 p-3 " style="width: 75rem;">
    <div class="row">
        <div class="col-md-12 mx-3">
            <div class="d-flex align-items-center">
                <h2 class="me-3">Experience</h2>
                <button class="btn btn-outline-primary rounded-circle" data-bs-toggle="modal"
                        data-bs-target="#experienceModal">
                    <i class="fa-solid fa-pencil"></i>
                </button>
            </div>
            <hr>
            {% for ex in experience %}
            <div class="my-3 d-flex border rounded">
                <div class="col p-2">
                    <p>company_name : {{ex.company_name}}<a data-bs-toggle="modal"
                                                            data-bs-target="#update-experienceModal{{forloop.counter}}">
                        <i class="fa-regular fa-pen-to-square fa-beat" style="color: #000000;"></i></a></p>
                    {% if ex.designation %}
                    <p>Designation : {{ex.designation}}</p>
                    {% else %}
                    {% endif %}
                    <p>Location : {{ex.location}}</p>
                    <p>Start_date : {{ex.working_from}}</p>
                    <p>End_date : {{ex.working_till}}</p>
                    <p>Salary : {{ex.monthly_salary}}</p>

                    <p>description : {{ex.description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Education Section-->
<div class="container border rounded my-3 p-3" style="width: 75rem;">
    <div class="row">
        <div class="col-md-12 mx-3">
            <div class="d-flex align-items-center">
                <h2 class="me-3">Education</h2>
                <button class="btn btn-outline-primary rounded-circle" data-bs-toggle="modal"
                        data-bs-target="#educationModal">
                    <i class="fa-solid fa-pencil"></i>
                </button>
            </div>
            <hr>
            {% for ed in education %}
            <div class="my-3 d-flex border rounded">
                <div class="col p-2">
                    <p>institution_name : {{ed.institution_name}}<a data-bs-toggle="modal"
                                                                    data-bs-target="#update-educationModal{{forloop.counter}}">
                        <i class="fa-regular fa-pen-to-square fa-beat" style="color: #000000;"></i></a>
                    </p>
                    <p>field_of_study : {{ed.field_of_study}}</p>
                    <p>cgpa : {{ed.cgpa}}</p>
                    <p>Start_date : {{ed.start_date}}</p>
                    <p>End_date : {{ed.end_date}}</p>
                    <p>description : {{ed.description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Certification Section-->
<div class="container border rounded my-3 p-3" style="width: 75rem;">
    <div class="row">
        <div class="col-md-12 mx-3">
            <div class="d-flex align-items-center">
                <h2 class="me-3">Certification</h2>
                <button class="btn btn-outline-primary rounded-circle" data-bs-toggle="modal"
                        data-bs-target="#certificationModal">
                    <i class="fa-solid fa-pencil"></i>
                </button>
            </div>
            <hr>
            {% for cr in certification %}
            <div class="my-3 d-flex border rounded">
                <div class="col p-2">
                    <p>certification_name : {{cr.title}}<a data-bs-toggle="modal"
                                                           data-bs-target="#update-certificationModal{{forloop.counter}}">
                        <i class="fa-regular fa-pen-to-square fa-beat" style="color: #000000;"></i></a>
                    <p>issuing_organisation : {{cr.issuing_organisation}}</p>
                    <p>certificate_link : {{cr.certificate_link}}</p>
                    <p>Issue_date : {{cr.issue_date}}</p>
                    <p>description : {{cr.description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- project Section-->
<div class="container border rounded my-3 p-3" style="width: 75rem;">
    <div class="row">
        <div class="col-md-12 mx-3">
            <div class="d-flex align-items-center">
                <h2 class="me-3">Project</h2>
                <button class="btn btn-outline-primary rounded-circle" data-bs-toggle="modal"
                        data-bs-target="#projectModal">
                    <i class="fa-solid fa-pencil"></i>
                </button>
            </div>
            <hr>
            {% for pr in project %}
            <div class="my-3 d-flex border rounded">
                <div class="col p-2">
                    <p>Project_title : {{pr.title}}<a data-bs-toggle="modal"
                                                      data-bs-target="#update-projectModal{{forloop.counter}}"><i
                            class="fa-regular fa-pen-to-square fa-beat mx-2"></i></a></p>
                    <p>Guide_name : {{pr.advisor_name}}</p>
                    <p>Start_date : {{pr.start_date}}</p>
                    <p>End_date : {{pr.end_date}}</p>
                    <p>description : {{pr.description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Additional Section-->
<div class="container border rounded my-3 p-3" style="width: 75rem;">
    <div class="row">
        <div class="col-md-12 mx-3">
            <div class="d-flex align-items-center">
                <h2 class="me-3">Additional Skill</h2>
                <button class="btn btn-outline-primary rounded-circle" data-bs-toggle="modal"
                        data-bs-target="#additionalModal">
                    <i class="fa-solid fa-pencil"></i>
                </button>
            </div>
            <hr>
            {% for additional in additional_skill %}
            <div class="my-3 d-flex border rounded">
                <div class="col p-2">
                    <p>hobbies_name : {{additional.hobbies_name}}<a data-bs-toggle="modal"
                                                                    data-bs-target="#update-additionalModal{{forloop.counter}}"><i
                            class="fa-regular fa-pen-to-square fa-beat mx-2"></i></a></p>
                    <p>language_name : {{additional.language_name}}</p>
                    <p>skill_name : {{additional.skill_name}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<!-- Modal Section -->

<!-- Personal Form Modal -->
<div class="modal fade" id="personalModal" tabindex="-1" aria-labelledby="personalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Personal Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'personal-info' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">First name*</label>
                                <input type="text" id="first-name" name="first_name" class="form-control"
                                       aria-valuetext="enter firstname" required/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Middle name(optional)</label>
                                <input type="text" id="mdn" name="middle_name" class="form-control"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Last name*</label>
                                <input type="text" id="last_name" name="last_name" class="form-control" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <div class="form-outline">
                                <label class="form-label" for="">Phone*<small class="mx-2" id="p_result"></small></label>
                                <input type="text" id="phone_number" name="phone_number" class="form-control" onkeyup="check_phone()" required/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-outline">
                                <label class="form-label" for="">Date of birth*</label>
                                <input type="date" id="dob" name="date_of_birth" class="form-control" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label for="" class="form-label">Post_Code*</label>
                            <input type="text" class="form-control" id="postcode" name="zip_code" required/>
                        </div>
                        <div class="col-md-4">
                            <label for="" class="form-label">Student_id*<small mx-2 id="s_result"></small></label>
                            <input type="text" class="form-control" id="student_id" name="student_id" onkeyup="check_student_id()" required/>
                        </div>

                    <div class="mb-3">
                        <label for="formFile" class="form-label">profile_picture</label>
                        <input class="form-control" type="file" name="profile_picture" id="formFile"
                               accept="image/*" required>
                    </div>
                </div>
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">Address*</label>
                        <input type="text" class="form-control" name="address" id="inputAddress2"
                               placeholder="Apartment, studio, or floor" required/>
                    </div>
                    <div class="col">
                        <label for="exampleFormControlTextarea1" class="form-label">Objective*</label>
                        <textarea class="form-control" name="objectives" id="exampleFormControlTextarea1" rows="3"
                                  required></textarea>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-outline-primary">Add</button>
            </div>
            </form>
        </div>
    </div>
</div>


<!-- Experience Form Modal -->
<div class="modal fade" id="experienceModal" tabindex="-1" aria-labelledby="experienceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="experienceModalLabel">Experience</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="experience" method="POST"> {% csrf_token %}
                    <div class="row mb-4">
                        <div class="col">
                            <select id="employmentType" name="employment_type" class="form-select"
                                    aria-label="Default select example" required>
                                <option value="1" selected>Full-time</option>
                                <option value="2">Internship</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Company name</label>
                                <input type="text" name="company_name" class="form-control"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Monthly salary</label>
                                <input type="number" name="m_salary" class="form-control"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">location</label>
                                <input type="text" name="location" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Working from</label>
                                <input type="date" name="working_from" class="form-control"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Working till</label>
                                <input type="date" name="working_till" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="col" id="designationField">
                        <div class="form-outline">
                            <label class="form-label" for="">Designation</label>
                            <input type="text" name="designation" class="form-control"/>
                        </div>
                    </div>
                    <div class="col">
                        <label for="exampleFormControlTextarea1" class="form-label">Role & Responsibility</label>
                        <textarea class="form-control" name="rr" rows="3"></textarea>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-outline-primary">Add</button>
            </div>
        </div>
        </form>
    </div>
</div>


<!-- Education From Modal  -->
<div class="modal fade" id="educationModal" tabindex="-1" aria-labelledby="educationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="educationModalLabel">Education</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="education" method="POST"> {% csrf_token %}
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">institution name</label>
                                <input type="text" name="i_name" class="form-control"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Field of study</label>
                                <input type="text" name="fos" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Start date</label>
                                <input type="date" name="sd" class="form-control"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">End date</label>
                                <input type="date" name="ed" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <label class="form-label" for="">Department</label>
                            <input type="text" name="dn" class="form-control"/>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">CGPA</label>
                                <input type="number" name="cgpa" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                        <textarea class="form-control" name="des" rows="3"></textarea>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-outline-primary">Add</button>
            </div>
        </div>
        </form>
    </div>
</div>


<!-- Certification Form Modal -->
<div class="modal fade" id="certificationModal" tabindex="-1" aria-labelledby="certificationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="certificationModalLabel">Certifications</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="certification" method="POST"> {% csrf_token %}
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Certification name</label>
                                <input type="text" name="certification_name" class="form-control"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">issue-organization</label>
                                <input type="text" name="issue-organization" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Issue Date</label>
                                <input type="date" name="i_d" class="form-control"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">certification link</label>
                                <input type="url" name="c_l" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                        <textarea class="form-control" name="desc" rows="3"></textarea>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-outline-primary">Add</button>
            </div>
        </div>
        </form>
    </div>
</div>


<!-- Project Form Modal -->
<div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="projectModalLabel">Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="projects" method="POST"> {% csrf_token %}
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Project Title</label>
                                <input type="text" name="title" class="form-control"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Guide name</label>
                                <input type="text" name="guide_name" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Start date</label>
                                <input type="date" name="std" class="form-control"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">End date</label>
                                <input type="date" name="ede" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                        <textarea class="form-control" name="desc" rows="3"></textarea>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-outline-primary">Add</button>
            </div>
        </div>
        </form>
    </div>
</div>


<!-- Additional Form Modal -->
<div class="modal fade" id="additionalModal" tabindex="-1" aria-labelledby="additionalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="additionalModalLabel">Additional Skills</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="additional-skill" method="POST"> {% csrf_token %}
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Interested Hobbies</label>
                                <input type="text" name="ij" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Language</label>
                                <input type="text" name="lan" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Skill name</label>
                                <input type="text" name="s_name" class="form-control"/>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-outline-primary">Add</button>
            </div>
        </div>
        </form>
    </div>
</div>


<!-- Update Modal Section -->


<!-- UpdatePersonal Form Modal -->
{% for update_personal in personal_infos %}
<div class="modal fade" id="update-personalModal" tabindex="-1" aria-labelledby="update-personalModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Update Personal Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">First name</label>
                                <input type="text" value="{{update_personal.first_name}}" name="first_name"
                                       class="form-control" required/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Middle name</label>
                                <input type="text" value="{{update_personal.middle_name}}" name="middle_name"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Last name</label>
                                <input type="text" value="{{update_personal.last_name}}" name="last_name"
                                       class="form-control" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">

                            <div class="form-outline">
                                <label class="form-label" for="">Phone</label>
                                <input type="text" value="{{update_personal.phone_number}}" name="phone_number"
                                       class="form-control" required/>
                            </div>

                    </div>
                    ]
                        <div class="col-md-4">
                            <div class="form-outline">
                                <label class="form-label" for="">Date of birth</label>
                                <input type="date" value="{{ update_personal.date_of_birth|date:'Y-m-d' }}"
                                       name="date_of_birth" class="form-control" required/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="inputZip" class="form-label">Post_Code</label>
                            <input type="text" class="form-control" value="{{update_personal.zip_code}}" name="zip_code"
                                   required/>
                        </div>
                        <div class="col-md-4">
                            <label for="" class="form-label">Student_id</label>
                            <input type="text" class="form-control" value="{{update_personal.student_college_id}}"
                                   name="student_id" required/>
                        </div>

                    <div class="mb-3">
                        <label for="formFile" class="form-label">profile_picture</label>
                        <input class="form-control" type="file" name="profile_picture"
                               value="{{update_personal.profile_picture.name}}"
                               accept="image/*" required>
                    </div>
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">Address</label>
                        <input type="text" class="form-control" name="address" value="{{update_personal.address}}"
                               placeholder="Apartment, studio, or floor" required/>
                    </div>
                    <div class="col">
                        <label for="exampleFormControlTextarea1" class="form-label">Objective</label>
                        <textarea class="form-control" name="objectives" value="{{update_personal.objectives}}" rows="3"
                                  required>{{update_personal.objectives}}</textarea>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Delete</button>
                <button type="submit" class="btn btn-outline-success">Update</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}


<!-- Update Experience Form Modal -->
{% for update_experience in experience %}
<div class="modal fade" id="update-experienceModal{{forloop.counter}}" tabindex="-1"
     aria-labelledby="update-experienceModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="update-experienceModalLabel">Update Experience</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="experience" method="POST"> {% csrf_token %}
                    <div class="row mb-4">
                        <div class="col">
                            <select id="employmentType" name="employment_type" class="form-select"
                                    aria-label="Default select example" required>
                                <option value="1" selected>Full-time</option>
                                <option value="2">Internship</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Company name</label>
                                <input type="text" value="{{update_experience.company_name}}" name="company_name"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Monthly salary</label>
                                <input type="number" value="{{update_experience.company_name}}" name="m_salary"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">location</label>
                                <input type="text" value="{{update_experience.location}}" name="location"
                                       class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Working from</label>
                                <input type="date" value="{{update_experience.company_name}}" name="working_from"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Working till</label>
                                <input type="date" value="{{update_experience.company_name}}" name="working_till"
                                       class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="col" id="designationField">
                        <div class="form-outline">
                            <label class="form-label" for="">Designation</label>
                            <input type="text" value="{{update_experience.company_name}}" name="designation"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="col">
                        <label for="exampleFormControlTextarea1" class="form-label">Role & Responsibility</label>
                        <textarea class="form-control" value="{{update_experience.}}" name="rr" rows="3"></textarea>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Delete</button>
                <button type="submit" class="btn btn-outline-success">Update</button>
            </div>
        </div>
        </form>
    </div>
</div>
{% endfor %}


<!-- Update Education From Modal  -->
{% for update_education in education %}
<div class="modal fade" id="update-educationModal{{forloop.counter}}" tabindex="-1"
     aria-labelledby="update-educationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="update-educationModalLabel">Education</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="education" method="POST"> {% csrf_token %}
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">institution name</label>
                                <input type="text" value="{{update_education.institution_name}}" name="i_name"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Field of study</label>
                                <input type="text" value="{{update_education.field_of_study}}" name="fos"
                                       class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Start date</label>
                                <input type="date" value="{{update_education.start_date|date:'Y-m-d'}}" name="sd"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">End date</label>
                                <input type="date" value="{{update_education.end_date|date:'Y-m-d'}}" name="ed"
                                       class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <label class="form-label" for="">Department</label>
                            <input type="text" name="dn" class="form-control"/>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">CGPA</label>
                                <input type="number" name="cgpa" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                        <textarea class="form-control" name="des" rows="3"></textarea>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Delete</button>
                <button type="submit" class="btn btn-outline-success">Update</button>
            </div>
        </div>
        </form>
    </div>
</div>
{% endfor %}


<!-- Update Certification Form Modal -->
{% for update_certification in certification %}
<div class="modal fade" id="update-certificationModal{{forloop.counter}}" tabindex="-1"
     aria-labelledby="certificationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="update-certificationModalLabel">Update Certifications</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="certification" method="POST"> {% csrf_token %}
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Certification name</label>
                                <input type="text" value="{{update_certification.title}}" name="certification_name"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">issue-organization</label>
                                <input type="text" name="issue-organization" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Issue Date</label>
                                <input type="date" name="i_d" class="form-control"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">certification link</label>
                                <input type="url" value="{{update_certification.certificate_link}}" name="c_l"
                                       class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                        <textarea class="form-control" name="desc" rows="3"></textarea>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Delete</button>
                <button type="submit" class="btn btn-outline-success">Update</button>
            </div>
        </div>
        </form>
    </div>
</div>
{% endfor %}


<!-- Update Project Form Modal -->
{% for update_project in project %}
<div class="modal fade" id="update-projectModal{{forloop.counter}}" tabindex="-1"
     aria-labelledby="update-projectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="update-projectModalLabel">Update Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="projects" method="POST"> {% csrf_token %}
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Project Title</label>
                                <input type="text" value="{{update_project.title}}" name="title" class="form-control"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Guide name</label>
                                <input type="text" name="guide_name" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Start date</label>
                                <input type="date" name="std" class="form-control"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">End date</label>
                                <input type="date" name="ede" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                        <textarea class="form-control" name="desc" rows="3"></textarea>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Delete</button>
                <button type="submit" class="btn btn-outline-success">Update</button>
            </div>
        </div>
        </form>
    </div>
</div>
{% endfor %}


<!-- Update Additional Form Modal -->
{% for update_additional in additional_skill %}
<div class="modal fade" id="update-additionalModal{{forloop.counter}}" tabindex="-1"
     aria-labelledby="update-additionalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="update-additionalModalLabel">Update Additional Skills</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="additional-skill" method="POST"> {% csrf_token %}
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Interested Hobbies</label>
                                <input type="text" value="{{update_additional.hobbies_name}}" name="ij"
                                       class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Language</label>
                                <input type="text" value="{{update_additional.language_name}}" name="lan"
                                       class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="">Skill name</label>
                                <input type="text" value="{{update_additional.skill_name}}" name="s_name"
                                       class="form-control"/>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Delete</button>
                <button type="submit" class="btn btn-outline-success">Update</button>
            </div>
        </div>
        </form>
    </div>
</div>
{% endfor %}


<!-- Script Section for Flash message -->

<!-- Alertify JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script>
{% for message in messages %}
    alertify.set('notifier','position', 'top-center');
    var messageClass = '{{ message.tags }}';  // Get the message tag

    if (messageClass === 'success') {
        alertify.success('{{ message }}');
    } else if (messageClass === 'danger') {
        alertify.error('{{ message }}');
    }
{% endfor %}
</script>


                        <!--  This Script section check full-time & internship  -->
<script>
    const employmentTypeSelect = document.getElementById('employmentType');
    const designationField = document.getElementById('designationField');

    employmentTypeSelect.addEventListener('change', () => {
        if (employmentTypeSelect.id === '2') { // If "Internship" is selected
            designationField.style.display = 'none'; // Hide the designation field
        } else {
            designationField.style.display = 'block'; // Show the designation field
        }
    });




</script>



                                    <!--  This Script check user email-id  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    function check_email(){
        let email = document.getElementById("email").value;
        $.ajax({
            url:"{% url 'check-user-email' %}",
            type:"get",
            data:{email_id:email},
            success:function(data){
                if(data=="Exists"){
                    $("#result").html("This Email-ID already taken.").addClass("text-danger");
                    $("#email").addClass("alert alert-danger")
                }else{
                    $("#result").html("");
                    $("#email").removeClass("alert alert-danger")
                }
            }
        })
    }
</script>


<script>
    function check_student_id(){
        let s_id = document.getElementById("student_id").value;
        $.ajax({
            url:"{% url 'check-student-id' %}",
            type:"get",
            data:{student_college_id:s_id},
            success:function(data){
                if(data=="Exists"){
                    $("#s_result").html("Student-ID already taken.").addClass("text-danger");
                    $("#student_id").addClass("alert alert-danger")
                }else{
                    $("#s_result").html("");
                    $("#student_id").removeClass("alert alert-danger")
                }
            }
        })
    }
</script>

<script>
    function check_phone(){
        let s_phone = document.getElementById("phone_number").value;
        $.ajax({
            url:"{% url 'check-phone' %}",
            type:"get",
            data:{phone:s_phone},
            success:function(data){
                if(data=="Exists"){
                    $("#p_result").html("Phone number already taken.").addClass("text-danger");
                    $("#phone_number").addClass("alert alert-danger")
                }else{
                    $("#p_result").html("");
                    $("#phone_number").removeClass("alert alert-danger")
                }
            }
        })
    }
</script>



{% endblock %}